
   body {
    background: #f5f4f1;
   }
   form {
    background: #fff;
    width: 300px;
    margin: auto;
    padding: 30px 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   }
   h2 {
    text-align: center;
    font-variant: small-caps;
   }
   .form-control {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
   }
   .remember {
    text-align: right;
    font-style: italic;
   }
   button {
    background: #bc8e5c;
    width: 100%;
    border: none;
    color: #fff;
    padding: 10px;
   }
